@import "tailwindcss";
@font-face {
  font-family: "poppins";
  src: url("./assets/font/Poppins-Regular.ttf");
}
* {
  font-family: "poppins" !important;
}
/* loader */
.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
